body {
    margin: auto;
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
    height: 100%;
}

/* section styling */

.container {
    padding: 4em 4em;
    position: relative;
    min-height: 100%;
}

#header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 1px 5px 5px grey;
}

.logo {
    font-size: 20pt;
}

.work-title {
    font-weight: bold;
    display: inline;
}

.social {
    right: 0;
}

.header-container {
    padding: 1em 4em 1em 4em;
    min-height: 0;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* other styling*/
h1 {
    margin: 0;
    font-size: 40pt;
}

h2 {
    font-size: 20pt;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: #2D4059; 
}

a.no-decoration {
    text-decoration: none;
}

h4 {
    margin: 0;
}

p {
    text-align: justify;
    margin: 0 20em 1em 0;
}

/* media queries */
@media only screen and (max-width: 600px) {
    .container {
        padding: 1em 1em 2em 1em;
    }

    .header-container {
        padding: 1em 1em 1em 1em;
    }

    /*.work-title {
        display: none;
    }*/

    h1 {
        font-size: 30pt;
    }


    p {
        margin: 0 0 1em 0;
    }
}