body {
    font-family: GeomanistRegular !important;
    background-color: #EFEFEF !important;
}

/* font scheme */
@font-face {
    font-family: 'CustomCraft';
    src: url('font/CustomCraft-Regular.woff') format('woff'),
        url('font/Custom-Craft-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Illusion;
    src: url(font/illusion.otf);
}

@font-face {
    font-family: GeomanistRegular;
    src: url(font/Geomanist/Webfont/Geomanist-Regular/geomanist-regular.woff);
}

@font-face {
    font-family: GeomanistItalic;
    src: url(font/Geomanist/Webfont/Geomanist-Italic/geomanist-italic.woff);
}

.craft {
    font-family: CustomCraft;
    font-size: 25pt;
}

.illusion {
    font-family: Illusion;
}

.geoReg {
    font-family: GeomanistRegular;
}

.geoIt {
    font-family: GeomanistItalic;
}

/* color-scheme */
.bg-color1{
    background-color: #EEEEFF !important;
}

.bg-color2{
    background-color: #7F7CAF !important;
}

.bg-color3{
    background-color: #9Fb4C7 !important;
}

.bg-color4{
    background-color: #28587B !important;
}

.bg-color5{
    background-color: #9FB798 !important;
}

.bg-color6{
    background-color: #CD5260 !important;
}

.text-carbon {
    color: #A9A9A9 !important;
}

.text-color6 {
    font-weight: bold;
    color: #CD5260 !important;
}

/* navbar decoration */
.navbar-brand {
    font-size: 22pt !important;
}

a.nav-link {
    font-size: 15pt;
    color: #A9A9A9 !important;
}

.nav-link.active {
    background-color: #EEEEFF !important;
    color: black !important;
}

@media only screen and (max-width: 400px) {
    .navbar-brand {
        font-size: 20pt !important;
        width: 100%;
        text-align: center;
    }

    a.nav-link {
        font-size: 12pt !important;
    }
}

/* others */

.img-fluid {
    width: 100%;
}

.separator {
    border-style: solid;
    border-width: 5;
    border-radius: 10px;
    border-top-color: black;
    border-bottom-color: pink;
}

#cookies {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    opacity: 0.9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mid-container {
    width: 100%;
}

.link-content {
    padding-top: 50px;
}

.parallax-hdr {
    /* The image used */
    background-image: url("../img/header-img.png");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-social {
    width: 100px;
}

@media only screen and (max-width: 400px) {
    .parallax-hdr{
        background-image: url("../img/header-mobile.png");
    }

    .img-social {
        width: 50px;
    }
}

.id-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-color: black;
    border-width: 1px;
    border-radius: 100%;
    border-style: solid;
}

.card {
    border-style: solid;
    border-color: white !important;
    border-width: 1px !important;
}

h4 {
    padding-top: 40px;
    text-align: center;
    width: 100%;
}

.description {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 2%;
    padding: 2%;
}

.project-link {
    color: #28587B;
}

.project-link:hover{
    color: #7F7CAF;
}

.text-sub {
    color: yellow !important;
}

.link-social {
    display: block;
    text-decoration: none;
    color: white;
}

.link-social:hover{
    color: white;
}

.social {
    text-align: center;
    margin-bottom: 2%;
}